<div class="col-lg-3 options">
    <div class="options-select">
        <form class="form-group">
            <p>Выбор страны</p>
            <select id="country">
                <option value="israel">Израиль</option>
            </select>
            <p>Выбор региона</p>
            <select id="region">
                <option value="center">Центр</option>
            </select>
            <p>Выбор города</p>
            <select id="city">
                <option value="tel-aviv">Тель-Авив</option>
            </select>
        </form>
    </div>
    <div>
        <button class="btn" id="search-restaurant-btn">Поиск</button>
    </div>
</div>
<div class="col-lg-9 vouchers-field">
    <div class="container col-lg-12">

    </div>
</div>